// .transition {
//   transition: all 300ms ease-in-out;
//   color: white;
//   &-entering {
//     color: #09d3ac;
//   }
//   &-entered {
//     color: #09d3ac;
//   }
//   &-exiting {
//     color: white;
//   }
//   &-exited {
//     color: white;
//   }
// }
.transition {
  &-enter {
    color: white;
  }
  &-enter-active {
    color: #09d3ac;
    transition: all 1600ms ease-in-out;
  }
  &-enter-done {
    color: #09d3ac;
  }
  &-exit {
    color: #57ceb6;
  }
  &-exit-active {
    color: white;
    transition: all 1600ms ease-in-out;
  }
  &-exit-done {
    color: white;
  }
}
