.transition {
  transition: all 300ms ease-in-out;
  color: white;
  &-entering {
    color: #09d3ac;
  }
  &-entered {
    color: #09d3ac;
  }
  &-exiting {
    color: white;
  }
  &-exited {
    color: white;
  }
}
