$accent-color: #09d3ac;

.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.App-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px 0;
}

.App-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}


.App-link {
  color: $accent-color;
}


.App-logo {
  height: 40vmin;
}
