$accent-color: #09d3ac;

.App {
  background-color: #282c34;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.App-header {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px 0;
}

.App-content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-item {
  width: 60%;
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }
  outline: 1px solid rgba($accent-color, 0.5);
  padding: 10px;
  cursor: pointer;
}


.App-link {
  color: $accent-color;
}


.App-logo {
  height: 40vmin;
}
